.app {
  position: relative;
  .b-sidebar,
  .b-sidebar-backdrop {
    top: 31.1px;
    height: calc(100vh - 31px);
  }
  .b-sidebar-outer {
    &.menu {
      z-index: 1036;
    }
  }
}

.app-content {
  margin-top: 31px;
  height: calc(100vh - 31.1px);
  padding-top: .1px;
  overflow: auto;
  &.guest {
    background-color: $gray-900;
  }
}

.swal2-container {
  top: 31px;
  height: calc(100vh - 31px);
  z-index: 1034;
}