.system-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-fixed + 10;
  -webkit-app-region: drag;
  .progress {
    height: 2px;
    border-radius: 0;
  }
  .btn-group {
    -webkit-app-region: no-drag;
    > .btn:not(:last-child),
    .btn:not(:first-child) {
      border-radius: 0;
    }
  }
}
.system-bar-panel {
  background-color: $dark;
  display: flex;
  align-items: center;
}

.system-bar-title {
  font-size: $font-size-sm;
  color: $white;
  padding: {
    left: 8px;
    right: 8px;
  }
}